
@model Errand


<p>
    Anmälan har nu skickats in till kommunen och kommer att utredas. <br />
    Vill du komplettera din anmälan kontakta oss via mail eller telefon. <br />
    Ange då nummer: @Model.RefNumber
</p>