

@model Errand

<h2>Tack för din Anmälan</h2>
<p class="info">I Småstad är inga brott för små för att anmälas</p>


@await Component.InvokeAsync("Thanks")


<p><a class="button" asp-controller="Home" asp-action="Index">Avsluta</a></p>
